<div class="col-sm-6 u-margin-B-s">
    <div class="card flashcard-card">
    <a href="./pages/{}">
        <div class="card-block">
        <h3 class="card-title">{}</h3>
        <p class="card-text">0 of {} words mastered</p>
        <div class="progress">
            <div
            class="progress-bar progress-bar-success"
            style="width:0.0%"
            ></div>
        </div>
        </div>
        <a
        class="card-footer text-center"
        data-loading-text="Loading deck..."
        href="./pages/{}"
        >Practice this deck &rarr;</a
        >
    </a>
    </div>
</div>
